@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=M+PLUS+Rounded+1c:wght@300&family=Secular+One&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	padding: 0;
	margin: 0;
  background: url(./back.png) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  overflow-x: hidden;
}
p {
  text-align: center;
  font-size: 17px;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 25px;
  margin-top: -20px;
  margin-left: 13px;
}
.neonText {
    color: #fff;
    font-family: 'Secular One', sans-serif;
    text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 34px rgb(52, 226, 238),
      0 0 65px rgb(52, 226, 238),
      0 0 70px rgb(52, 226, 238);
    text-align: center;
  }

h1, h2 {
  font-weight: 400;
  line-height: 1;
}
  
h1 {
    font-size: 3.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}

@media (max-width:700px) {
h1 {
  font-size: 2.3rem;
  animation: pulsate 0.31s ease-in-out infinite alternate;     
}
}

main {
	 width: 100vw;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: #090707;
}
 .dank-ass-loader {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 .dank-ass-loader .row {
	 display: flex;
}
 .arrow {
	 width: 0;
	 height: 0;
	 margin: 0 -6px;
	 border-left: 12px solid transparent;
	 border-right: 12px solid transparent;
	 border-bottom: 21.6px solid #00ffaa;
	 animation: blink 1s infinite;
	 filter: drop-shadow(0 0 18px #00ffb3);
}
 .arrow.down {
	 transform: rotate(180deg);
}
 .arrow.outer-1 {
	 animation-delay: -0.0555555556s;
}
 .arrow.outer-2 {
	 animation-delay: -0.1111111111s;
}
 .arrow.outer-3 {
	 animation-delay: -0.1666666667s;
}
 .arrow.outer-4 {
	 animation-delay: -0.2222222222s;
}
 .arrow.outer-5 {
	 animation-delay: -0.2777777778s;
}
 .arrow.outer-6 {
	 animation-delay: -0.3333333333s;
}
 .arrow.outer-7 {
	 animation-delay: -0.3888888889s;
}
 .arrow.outer-8 {
	 animation-delay: -0.4444444444s;
}
 .arrow.outer-9 {
	 animation-delay: -0.5s;
}
 .arrow.outer-10 {
	 animation-delay: -0.5555555556s;
}
 .arrow.outer-11 {
	 animation-delay: -0.6111111111s;
}
 .arrow.outer-12 {
	 animation-delay: -0.6666666667s;
}
 .arrow.outer-13 {
	 animation-delay: -0.7222222222s;
}
 .arrow.outer-14 {
	 animation-delay: -0.7777777778s;
}
 .arrow.outer-15 {
	 animation-delay: -0.8333333333s;
}
 .arrow.outer-16 {
	 animation-delay: -0.8888888889s;
}
 .arrow.outer-17 {
	 animation-delay: -0.9444444444s;
}
 .arrow.outer-18 {
	 animation-delay: -1s;
}
 .arrow.inner-1 {
	 animation-delay: -0.1666666667s;
}
 .arrow.inner-2 {
	 animation-delay: -0.3333333333s;
}
 .arrow.inner-3 {
	 animation-delay: -0.5s;
}
 .arrow.inner-4 {
	 animation-delay: -0.6666666667s;
}
 .arrow.inner-5 {
	 animation-delay: -0.8333333333s;
}
 .arrow.inner-6 {
	 animation-delay: -1s;
}
 @keyframes blink {
	 0% {
		 opacity: 0.1;
	}
	 30% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0.1;
	}
}
 
